:root {
    --bgcolor: 210
}

#map {
    position: absolute;
    left: 80%;
    top: 8px;
    bottom: 8px;
    width: 35%;
    height: 35%;
}

body {
    background-color: hsl(var(--bgcolor), 60%, 60%);
    font-family:calibri;
    margin-left: 240px;
}

.new-weather {
    padding: 1em;
    width: 320px;
    height: 230px;
    background-color: hsl(var(--bgcolor), 60%, 75%);
    color:hsl(var(--bgcolor), 60%, 10%);
    position: absolute;
    left: 240px;
    top: 8px;
}

.new-weather h2 {
    font-size: 16px;
    margin: 0;
    border-bottom: 1px solid hsl(var(--bgcolor), 10%, 60%);
}

.new-weather label {
    display: inline-block;
    width: 18em;
    text-align: justify;  
    width: 120px;
}

.new-weather div{
    margin-top: 12px;
}

.new-weather button {
    background-color:hsl(var(--bgcolor), 60%, 100%);
}

.new-weather button:hover {
    transform:scale(1.1);
    transition: all 500ms;
}

.new-weather button:active {
    transform:scale(0.9);
    transition: all 50ms;
}

.new-weather input:hover, input:active {
    transform: scale(1.05);
    transition: all 500ms;
}

.weather {
    font-size: 18px;
    color: hsl(var(--bgcolor), 60%, 10%);
    grid-area : weather;
}

.weatherprint {
    padding: 32px;
    background-color: hsl(var(--bgcolor), 60%, 75%);
    width: 673px;
    position: absolute;
    left: 240px;
    top: 275px;
}

.weatherprint div {
    background-color: hsl(var(--bgcolor), 60%, 40%);
    color: hsl(var(--bgcolor), 60%, 100%);
    padding: 1em;
}

.weatherprint div:hover, div:active {
    transform: scale(1.05);
    transition: all 1000ms;
}

.anchor {
    color: hsl(var(--bgcolor), 60%, 40%);
}

.error {
    width: 320px;
    height: 230px;
    background-color: hsl(var(--bgcolor), 60%, 75%);
    padding: 1em;
    position: absolute;
    left: 625px;
    top: 8px;
}

.errordecorator {
    background-color: hsl(var(--bgcolor), 60%, 40%);
    position:absolute;
    left: 20px;
    top: 16px;
    width: 295px;
    height: 214px;
    padding: 8px;
    text-align: center;
}
.errormsg {
    font-size: 40px;
}